<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="107.151.240.23"/>
		<add key="Username" value="root"/>
		<add key="Password" value="x4586wWnbq7c"/>
		<add key="Sshport" value="22000"/>
		<add key="Ftpport" value="22000"/>
		<add key="Localpath" value="D:\app"/>
		<add key="Remotepath" value="/test"/>
		<add key="Cmd" value="docker restart 7574131ca4b2"/>
		<add key="UploadAllFilesWhenAppStart" value="0"/>
	</appSettings>
</configuration>