<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="xxx.xxx.xxx.xxx"/>
		<add key="Username" value="root"/>
		<add key="Password" value="123456"/>
		<add key="Sshport" value="22"/>
		<add key="Ftpport" value="22"/>
		<add key="Localpath" value="D:\app"/>
		<add key="Remotepath" value="/app"/>
		<add key="Cmd" value="docker restart xxxx"/>
		<add key="UploadAllFilesWhenAppStart" value="0"/>
	</appSettings>
</configuration>